@import url('./tokens.css');
@import url('./keyframes.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.7;
  color: var(--text-color);
  padding: 2rem;
}

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom,
      rgba(126, 213, 111, 0.8),
      rgba(40, 180, 133, 0.8)),
    url('../img/hero.jpg');
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;

  .logo-box {
    position: absolute;
    top: 40px;
    left: 40px;

    .logo {
      height: 36px;
    }
  }

  .text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    .heading-primary {
      color: var(--white);
      text-transform: uppercase;
      backface-visibility: hidden;
      margin-bottom: 4rem;

      .heading-primary-main {
        display: block;
        font-size: 3.75rem;
        font-weight: 400;
        letter-spacing: 2.25rem;
        animation: moveInLeft 1s ease;
      }

      .heading-primary-sub {
        display: block;
        font-size: 1.25rem;
        font-weight: 400;
        letter-spacing: 17px;
        animation: moveInRight 1s ease;
      }
    }
  }
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 2.5rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s ease;
  position: relative;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 5rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s ease;
  }

  &.btn-white {
    background-color: var(--white);
    color: var(--text-color);

    &::after {
      background-color: var(--white);
    }
  }
}

.btn-animated {
  animation: moveInBottom .5s ease .75s;
  animation-fill-mode: backwards;
}